.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &-img {
    display: block;
    height: 40%;
    width: 40%;
    text-align: center;
  }
  &-message {
    margin-top: 10rem;
    font-size: 2rem;
    font-weight: 700;
  }
}
