.container {
  background-image: url("../../assets/womakup.jpg");
  background-attachment: fixed;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: -5rem 22rem;
  background-color: #ffffff;
  padding: 3rem;
  min-height: 100vh;

  &-list {
    margin-top: 25rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    margin-left: 30%;
  }
}
